{% extends '/templates/base.html.twig' %}

{% block titulo %}Registro :: Colmesoft{% endblock %}

{% block contenido %}
	<section class="hero">
		<div class="hero-body">
			<div class="container">
				<div class="columns">
					<div class="column is-half is-offset-one-quarter">
						<div class="card">
							<header class="card-header">
								<p class="card-header-title">FORMULARIO DE REGISTRO</p>
							</header>
							<div class="card-content">
								<form action="{{path_for('auth.registro')}}" method="post" autocomplete="off">
									<div class="field">
										<label for="nombre" class="label">Nombre</label>
										<div class="control has-icons-left">
											<input type="text" class="input" id="nombre" name="nombre" autofocus>
											<span class="icon is-small is-left"><i class="fas fa-user"></i></span>
										</div>
									</div>
									<div class="field">
										<label for="apellido" class="label">Apellido</label>
										<div class="control has-icons-left">
											<input type="text" class="input" id="apellido" name="apellido">
											<span class="icon is-small is-left"><i class="fas fa-user-plus"></i></span>
										</div>
									</div>
									<div class="field">
										<label for="email" class="label">Email</label>
										<div class="control has-icons-left">
											<input class="input" type="text" name="email" id="email"></input>
											<span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
										</div>
									</div>
									<div class="field">
										<label for="email" class="label">Password</label>
										<div class="control has-icons-left">
											<input class="input" type="password" name="password" id="password"></input>
											<span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
										</div>
									</div>
									<div class="field">
										<div class="control">
											<button class="button is-primary is-fullwidth" type="submit">CREAR NUEVA CUENTA</button>
										</div>
									</div>
								</form>
							</div>
							<footer class="card-footer">
								<a class="card-footer-item" href="{{path_for('auth.login')}}">Inicia sesi&oacute;n</a>
							</footer>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}