<!DOCTYPE html>
<html lang="es_CL">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block titulo %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{base_url()}}/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="{{base_url()}}/css/app.css">
	<script defer src="https://use.fontawesome.com/releases/v5.6.1/js/all.js" integrity="sha384-R5JkiUweZpJjELPWqttAYmYM1P3SNEJRM6ecTQF05pFFtxmCO+Y1CiUhvuDzgSVZ" crossorigin="anonymous"></script>
</head>
<body>
	{% block contenido %}{% endblock %}

<!-- SCRIPTS -->
<script type="text/javascript" src="{{base_url()}}/js/jquery.js"></script>
<script type="text/javascript" src="{{base_url()}}/js/main.js"></script>
<!-- SCRIPTS -->
</body>
</html>